{% load static %}
<footer class="footer">
  <div class="container">
    <div class="footer-social">
		<iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FTryAngle-Daycare-Preschool-Centre-227567711050036%2F%3Fref%3Dpage_internal&tabs&width=340&height=180&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="340" height="130" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
		
      <p>&copy; <script>document.write(new Date().getFullYear())</script> TryAngle Daycare Preschool Centre. All rights reserved</p>
     <!-- <a href="http://websitesfordaycares.com/" target="_blank">WebsitesForDaycares.com</a>--> </div>
    <div class="footer_menu">
      <h6>sitemap</h6>
      <ul>
          <li><a href="{% url 'home' %}">Home</a></li>
          <li><a href="{% url 'about' %}">About</a></li>
          <li><a href="{% url 'programs' %}"> Programs</a></li>
          <li><a href="{% url 'enrollment' %}">Enrollment</a></li>
          <li><a href="{% url 'parents' %}">For Parents</a></li>
          <li><a href="{% url 'gallery' %}">Gallery</a></li>
		  <li><a href="{% url 'contact' %}">Contact Us</a></li>
      </ul>
    </div>
    <div class="footer_details">
      <h6>contact</h6>
      <p>4241 West Minister<br>
      West Bank Demerara</p>
      <p>T: <a href="tel:592-675-4943">(+592) 675-4943</a></p>
      <p>E: <a href="mailto:hollycaesar@hotmail.com">hollycaesar@hotmail.com</a></p>
    </div>
    <div class="footer_right">
      <!--<div class="footer_bttns"> <a href="#" class="btn_staff">
        <button><i class="fa fa-lock"></i> staff login</button>
        </a> <a href="#" class="btn_parent">
        <button><i class="fa fa-lock"></i> parents login</button>
        </a> </div>-->
      <div class="footer_social_icons"> <a href="https://www.facebook.com/TryAngle-Daycare-Preschool-Centre-227567711050036/?ref=page_internal" target="_blank"><i class="fa fa-facebook"></i></a>  <!--<a href="#"><i class="fa fa-twitter"></i></a> <a href="#"><i class="fa fa-pinterest"></i></a> <a href="#"><i class="fa fa-youtube"></i></a> <a href="#"><i class="fa fa-instagram"></i></a> <a href="#"><i class="fa fa-yelp"></i></a>--> </div>
    </div>
  </div>
  <!-- container end --> 
</footer>