{% extends 'base.html' %}
{% load static %}

{% block banner %}
<div class="innerpage_banner">
	<img src="{% static 'images/banner-inner7.jpg' %}"/>
</div>
{% endblock  %}

{% block content %}

<script type="text/javascript">
    <!--
        if( ( navigator.userAgent.indexOf( "MSIE" ) > -1 ) ) {
            document.onkeypress = ieKeyPress;
        } else {
            document.captureEvents( Event.keypress );
            document.onkeypress = function( event ) {
                if( (event.which == 121 || event.which == 25) && (event.ctrlKey == true) ) {
                    psredirect();
                    return false;
                }
            }
        }
        function ieKeyPress() {
            if( window.event.keyCode == 25 ) {
                psredirect();
            }
        }
        function psredirect() {
            document.location = '/generator/default.php?page=pages&view=edit&doc=programs.html&return=%2Fprograms.html';
        }
    -->
    </script><div class="innerpage_content_area">
        <div class="container">
            <h1>Programs</h1>
            <p><img src="{% static 'https://myhcacademy.org/images/v45.jpg' %}" align="right" />We offer programs for children ranging from infant to school age. If you have any questions about these programs, please feel free to contact us.</p>
            <h2>Infants</h2>
            <p> Our infant area provides the highest quality care in an environment that is designed with the parent and child in mind. While in our care, the children are stimulated through music, exercise, outdoor blanket time, facial and verbal mimicking as well as lots of hugs and tickles. </p>
            <h2>Toddlers </h2>
            <p>At this age, children are meeting new challenges as fast as they come. Crawling, walking and eventually running are levels they accomplish in what seems like a blink of an eye. Children learn best if they are in a stimulating environment. Music, stories, outdoor play, and learning simplicities envelop much of the day. Our caregivers are dedicated in helping each child develop these skills through a trusting and loving relationship. A parental daily report is given to update each family on meal times, nap times, toilet training and all activities accomplished each day. </p>
            <h2>Preschoolers </h2>
            <p>At this age, children are meeting new challenges as fast as they come. Crawling, walking and eventually running are levels they accomplish in what seems like a blink of an eye. Children learn best if they are in a stimulating environment. Music, stories, outdoor play, and learning simplicities envelop much of the day. Our caregivers are dedicated in helping each child develop these skills through a trusting and loving relationship. A parental daily report is given to update each family on meal times, nap times, toilet training and all activities accomplished each day. </p>
            <h2>School-Age </h2>
            <p>As children get older and more independent, they need new challenges. That’s why we offer a school-age program for before and after school care and enrichment programs that address the changing and more varied needs of growing school-age children. Reading, math, and science activities ensure that your child's mind is engaged and help create a lifelong love of learning and exploration. </p></div></div>   
{% endblock %}